n8n-nodes-custom/test_workflow.json
{
  "name": "Test Custom Nodes (Orchestrator & Sentiment)",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "id": "manual-trigger"
    },
    {
      "parameters": {
        "content": "Gostaria de cotar um frete para o CEP 01310-100",
        "options": {
          "categories": "cotacao, rastreio"
        }
      },
      "name": "Sentiment Analysis",
      "type": "n8n-nodes-orchestrator-sentiment.sentimentAnalysis",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "id": "sentiment-analysis",
      "credentials": {
        "orchestratorApi": {
          "id": "YOUR_CREDENTIAL_ID_HERE",
          "name": "Orchestrator API"
        }
      }
    },
    {
      "parameters": {
        "message": "={{ $json.intent }} (Context: {{ $json.context }})",
        "modelId": "orchestrator-main"
      },
      "name": "Orchestrator",
      "type": "n8n-nodes-orchestrator-sentiment.orchestrator",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "id": "orchestrator",
      "credentials": {
        "orchestratorApi": {
          "id": "YOUR_CREDENTIAL_ID_HERE",
          "name": "Orchestrator API"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analysis": {
      "main": [
        [
          {
            "node": "Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
